﻿body {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

    .container:before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        display: block;
        background-image: url("/res/images/background.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        /*filter: blur(10px);
    transform: scale(1.1);*/
    }

.header {
    position: absolute;
    float: left;
    top: 0;
    right: 0;
    height: auto;
    width: 100%;
    background-color: rgba(255,255,255,0.75);
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px 10px;
    color: black;
    /*backdrop-filter: blur(10px); /* For future use only, as of  05/07/2017 only safari and safari ios support this. */
}

.button-list {
    margin-left: 10px;
    list-style: none;
    width: 60%;
    display: inline;
}

.button-list li {
    display: inline;
}

.button {
    display: inline;
    font-size: 2em;
    height: 1.5em;
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
    float: left;
}

.button:hover {
    border-bottom: 5px solid rgb(8, 127, 255);
}

.active {
    display: inline;
    font-size: 2em;
    height: 1.5em;
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
    float: left;
    border-bottom: 5px solid rgb(8, 127, 255);
}

.logo {
    float: left;
    height: 64px;
    width: 64px;
    margin: 10px;
    background-image: url("/res/images/logo.png");
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    position: relative;
    height: auto;
    width: 80%;
    margin: auto;
    top: 100px;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}