﻿.content {
    width: 100%;
}

.choice_tree {
    float: left;
    width: 20%;
    text-align: left;
    list-style:none;
    display: block;
    height: 600px;
}

.choice_btn {
    display: inline-block;
    width: auto;
    margin-top: 10px;
    color: white;
}

    .choice_btn:hover {
        cursor: pointer;
        border-bottom: 3px solid rgb(8, 127, 255);
    }

.choiceChild_btn {
    margin-left: 30px;
}

.activeTree_btn {
    border-bottom: 3px solid rgb(8, 127, 255);
}

.docs_content {
    width: 75%;
    float: right;
}