﻿.txtBox {
    height: 2em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1em;
    text-align: center;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    font-size: 1em;
    transition: border 0.2s;
    background-color: white;
    color: black;
}

    .txtBox:hover {
        border: 1px solid #55acee;
    }

    .txtBox:focus {
        outline: none;
        border: 1px solid #55acee;
        box-shadow: 0 0 2px #55acee;
        background-color: white;
        color: black;
    }

.submitBtn {
    height: 2em;
    float: left;
    background-color: #55acee;
    border: 1px solid #55acee;
    border-radius: 5px;
    font-size: 1em;
    color: #f9fefd;
    position: relative;
    margin-left: 10%;
    width: 34.7%;
}

    .submitBtn:hover,
    .submitBtn:focus {
        cursor: pointer;
        background-color: #1271b9;
        border-color: #1271b9;
        outline: none;
    }

.redirectBtn {
    float: right;
    height: 2em;
    width: 34.7%;
    margin-bottom: 5px;
    background-color: #55acee;
    border: 1px solid #55acee;
    border-radius: 5px;
    margin-right: 10%;
    font-size: 1em;
    color: #f9fefd;
    text-decoration: none;
}

    .redirectBtn:hover,
    .redirectBtn:focus {
        cursor: pointer;
        background-color: #1271b9;
        border-color: #1271b9;
        outline: none;
    }
